.bar    {
    display: block;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 4px;
}

p   {
    font-family: 'Times New Roman', Times, serif;
}

.para   {
    display: inline-block;
    width: 290px;
    vertical-align: middle;
    line-height: 30px;
}

.GG {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.search {
    display: block;
    margin: 20px auto;
    padding: 18px 28px;
    width: 800px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3)
}

.fn {
    margin: 8px 1px;
    padding: 8px 14px;
    display: inline-block;
    width: 170px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.email  {
    display: block;
    width: 376px;
    margin: 8px 1px;
    padding: 8px 14px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.Signup {
    background-color: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
    width: 405px;
    display: block;
    margin: 8px 1px;
    padding: 16px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Signup:hover   {
    background-color: rgba(0, 110, 255, 0.7);
}

.uber   {
    font-family: Arial;
    font-size: 70px;
    margin-bottom: 35px;
}

.enter  {
    margin: 8px 1px;
    padding: 12px 16px;
    width: 405px;
    display: block;
    background-color: rgb(241, 241, 241);
    border: none;
}

.Black  {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-right: 18px;
    border: none;
    padding: 20px 26px;
}

.White  {
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-right: 18px;
    border: none;
    padding: 20px 26px;
}