div {
    display: inline-block;
    vertical-align: middle;
}

.cat    {
    width: 240px;
    height: 240px;
    border: none;
    border-radius: 240px;
    object-fit: cover;
    vertical-align: middle;
}

p   {
    margin: 24px 42px;
}

.vertical-layout    {
    font-family: Arial;
    font-size: 60px;
    vertical-align: middle;
    margin-right: 700px;
    color: lightslategray;
}

.name   {
    color: black;
    font-weight: 700;
}

.follow {
    color: white;
    background-color: rgb(0, 140, 255);
    border: none;
    font-weight: bolder;
    font-size: 60px;
    border-radius: 10px;
    padding: 25px 60px;
}