.cat1   {
    width: 500px;
    border-radius: 10px;
}

.cat2   {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.cat3   {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 1000px;
}

.search1    {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 10px;
    border-radius: 10px;
    border-color: rgb(139, 138, 138);
    border-width: 1px;
    border-style: solid;
}

.search2    {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 500px;
    margin: 10px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)
}

.body  {
    margin-bottom: 10px;
    color: rgb(70, 70, 70)
}

.search3    {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 550px;
    border-radius: 10px;
    border-color: rgb(70, 70, 70);
    border-width: 2px;
    border-style: solid;
}

.LinkedIn   {
    background-color: rgb(0, 102, 255);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 550px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.LinkedIn:hover {
    background-color: rgb(255, 127, 127);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.LinkedIn:active    {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.cat4   {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1000px;
    vertical-align: middle;
}

.What   {
    vertical-align: middle;
    color: rgb(151, 151, 151);
    font-size: 40px;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.Tweet  {
    vertical-align: middle;
    color: white;
    background-color: rgb(0, 153, 255);
    border: none;
    font-size: 50px;
    font-weight: bold;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 100px;
    transition: background-color 1s;
}

.Tweet:hover    {
    background-color: rgb(255, 127, 127);
}

.Tweet:active   {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)
}