div {
    margin: 8px 8px;
}

.red    {
    width: 300px;
    height: 300px;
    color: red;
    background-color: red;
}

.green  {
    width: 300px;
    height: 300px;
    color: green;
    background-color: green;
    border-radius: 300px;
    display: block;
}

.text   {
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-style: solid;
    width: 300px;
    padding: 8px 18px;
}

.p  {
    margin-top: 8px;
    margin-bottom: 8px;
}

.but    {
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.YouTube-Music  {
    width: 550px;
    background-color: rgb(17, 17, 17);
    font-family: Arial;
    padding: 2px 28px;
    border: none;
}

.Title  {
    font-size: 38px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    margin-top: 20px;
}

.description    {
    color: gray;
    margin-top: 12px;
}

.Tweet  {
    width: 700px;
    border: none;
    margin: 28px 8px;
    padding: 12px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cat   {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 1000px;
    vertical-align: middle;
}

.Tinput  {
    vertical-align: middle;
    font-size: 24px;
    border: none;
    width: 480px;
    margin-left: 10px;
}

.Tweetbut   {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 132, 255);
    vertical-align: middle;
    border: none;
    border-radius: 100px;
    padding: 16px 16px;
}

.animals    {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 300px;
    border: none;
    font-family: Arial;
}

.prof-cat   {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.name, .friends   {
    margin: 8px 14px;
}

.name   {
    font-size: 26px;
    font-weight: bold;
}

.friends    {
    color: rgb(116, 116, 116);
}

.add    {
    margin: 12px 12px;
    padding: 16px 26px;
    border: none;
    color: white;
    background-color: rgb(0, 110, 255);
    border-radius: 6px;
}