div {
    text-align: center;
}

.google-logo {
    width: 440px;
    display: block;
    margin: 20px;
    display: inline-block
}

.search {
    display: block;
    margin: 10px;
    padding: 28px 48px;
    width: 1000px;
    border-radius: 100px;
    border: none;
    font-size: 30px;
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3)
}

.button {
    margin: 30px 10px;
    padding: 20px 40px;
    font-size: 25px;
    border: none;
}