.grid   {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    column-gap: 20px;
    row-gap: 10px;
}

.block  {
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

.cat    {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.name   {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}

.mutuals    {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.dog    {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    align-self: center;
    margin-left: 8px;
}

.friends    {
    color: rgb(116, 116, 116);
}

.AddFriend  {
    color: white;
    background-color: rgb(0, 102, 255);
    font-size: 26px;
    margin: 8px 14px;
    padding: 16px 28px;
    border: none;
    border-radius: 8px;
}